<div class="dashboard-cards">
  <div class="card">
    <div class="card-title">Balance Mensual</div>
    <div class="card-amount">${{totalBalance | number:'1.2-2'}}</div>
  </div>

  <div class="card">
    <div class="card-title">Ingreso mensual</div>
    <div class="card-amount">${{monthlyIncome | number:'1.2-2'}}</div>
  </div>

  <div class="card">
    <div class="card-title">Budget Status</div>
    <div class="budget-details">
      <div class="budget-label">Monthly Budget</div>
      <div class="progress-bar">
        <div class="progress" [style.width]="budgetPercentage + '%'"></div>
      </div>
      <div class="budget-percentage">{{budgetPercentage  | number:'1.2-2'}}%</div>
    </div>
  </div>
</div>