.dashboard-container {
    padding: 2rem;
    min-height: 100vh;
    background-color: black;
    margin: auto;
    padding-left: 15rem;
    padding-right: 15rem;
  }
  
  .dashboard-title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    animation: glow 2s ease-in-out infinite alternate;
    color:white;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px var(--neon-blue), 0 0 20px var(--neon-blue);
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--neon-pink), 0 0 40px var(--neon-pink);
    }
  }
  
  .section-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: white;
  }