<header class="header">
  <div class="header-content">
    <h1 class="title">Expense Tracker</h1>
    <nav class="navigation">
      <a routerLink="/home" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
      <a routerLink="/diario" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{ exact: true }">Transacciones</a>
      <a routerLink="/cuentas" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{ exact: true }">Cuentas</a>
    </nav>
    <div class="profile">
      <img src="assets/profile.png" alt="Profile" class="profile-image">
    </div>
  </div>
</header>