<div class="modal" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="this.newExpense.flag == 'create'">Agregar Gasto</h5>
        <h5 class="modal-title" *ngIf="this.newExpense.flag == 'update'">Modificar Gasto</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="form-group">
              <label for="type">Tipo</label>
              <div class="btn-group" role="group" aria-label="Tipo de transacción">
                <button type="button" class="btn" [class.active]="newExpense.TipoTransaccion === 'gasto'" (click)="newExpense.TipoTransaccion = 'gasto'">Gasto</button>
                <button type="button" class="btn" [class.active]="newExpense.TipoTransaccion === 'ingreso'" (click)="newExpense.TipoTransaccion = 'ingreso'">Ingreso</button>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <label for="amount">Monto</label>
              <input type="number" id="amount" [(ngModel)]="newExpense.monto" name="amount" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="currency">Moneda</label>
              <select 
                id="currency" 
                [(ngModel)]="newExpense.moneda" 
                name="currency" 
                class="form-control" 
                required
                (change)="filtrarCuentas()">
                
                <option 
                  *ngFor="let currency of currencies" 
                  [value]="currency" 
                  class="opciones">
                  {{currency}}
                </option>
              </select>
            </div>
            
          </div>
          
          
          <div class="form-group" id="fecha">
            <label for="date">Fecha</label>
            <input type="date" id="date" [(ngModel)]="newExpense.fecha" name="date" class="form-control" required>
          </div>

          <div class="form-group" id="cuentas">
            <label for="category">Cuenta</label>
            <!--<select id="category" [(ngModel)]="newExpense.cuenta" name="category" class="form-control" required>
              <option value="" disabled selected *ngIf="!newExpense.cuenta">Seleccione una cuenta</option>
              <option *ngFor="let cuenta of cuentasVisibles"  class="opciones">{{cuenta.nombre}}</option>
            </select>-->
            <select 
            [(ngModel)]="newExpense.cuenta" 
            (ngModelChange)="onCuentaChange($event)"
            name="cuenta" 
            class="form-control" 
            required>
            
            <option value="" disabled *ngIf="!newExpense.cuenta">Seleccione una cuenta</option>
            
            <option 
              *ngFor="let cuenta of cuentasVisibles" 
              [value]="cuenta.nombre" 
              class="opciones">
              {{ cuenta.nombre }} ({{ cuenta.tipo }})
            </option>

            <option class="opciones" value="agregar">Agregar</option>
          </select>
          
            
          </div>

          <div class="form-group" *ngIf="newExpense.TipoTransaccion == 'gasto'" id="categorias">
            <label for="category">Categoría</label>
            <select id="category" [(ngModel)]="newExpense.categoria" name="category" class="form-control" required>
              <option *ngFor="let category of categories" [value]="category" class="opciones">{{category}}</option>
            </select>
          </div>

          <div class="form-group" id="detalle">
            <label for="description">Detalle</label>
            <input type="text" id="description" [(ngModel)]="newExpense.descripcion" name="description" class="form-control" required>
          </div>

          <div class="button-submit">
            <button type="submit" class="btn btn-primary">
              Ok
            </button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>

<!--
Tiene que haber un boton que te permita dividir gastos (entre diferente cuentas)
y otro boton para duplicar gastos (entre chanchitos)
-->