.month-title {
  margin-bottom: 30px; /* Aumenta el espacio entre meses */
  font-size: 1.5rem;
  color: #ffffff;
}

.expense-table {
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 15px;
  overflow: hidden;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}

.expense-table th, .expense-table td {
  padding: 6px;
  text-align: left;
}

.expense-table th {
  background-color: rgba(var(--neon-blue), 0.1);
}

.expense-table tr {
  transition: background-color 0.3s ease;
}

.expense-table tr:hover {
  background-color: rgba(var(--neon-pink), 0.1);
}

.category-chip {
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

/*.compras { background-color: rgba(var(--neon-green), 0.7); }
.Mantenimiento { background-color: rgba(var(--neon-blue), 0.7); }
.ocio { background-color: rgba(var(--neon-pink), 0.7); }
.entretenimiento { background-color: rgba(var(--neon-purple), 0.7); }*/
.compras {
  background-color: rgba(111, 0, 0, 0.8); /* Bordó oscuro */
  color: #fff;
}

.mantenimiento {
  background-color: rgba(130, 90, 0, 0.8); /* Marrón oscuro tirando a dorado viejo */
  color: #fff;
}

.transporte {
  background-color: rgba(0, 60, 80, 0.8); /* Azul petróleo profundo */
  color: #fff;
}

.salud {
  background-color: rgba(58, 94, 103, 0.8); /* Verde azulado oscuro */
  color: #fff;
}

.comida {
  background-color: rgba(102, 51, 0, 0.8); /* Marrón quemado */
  color: #fff;
}

.ocio {
  background-color: rgba(40, 40, 120, 0.8); /* Azul oscuro sobrio */
  color: #fff;
}

.ropa {
  background-color: rgba(70, 0, 110, 0.8); /* Violeta oscuro elegante */
  color: #fff;
}

.entretenimiento {
  background-color: rgba(139, 0, 0, 0.8); /* Rojo sangre sobrio */
  color: #fff;
}

.seguro {
  background-color: rgba(90, 0, 120, 0.8); /* Púrpura profundo */
  color: #fff;
}

.regalos {
  background-color: rgba(120, 20, 60, 0.8); /* Rosa oscuro tipo vino */
  color: #fff;
}

.otros {
  background-color: rgba(80, 80, 80, 0.8); /* Gris oscuro neutro */
  color: #fff;
}



.ingreso {
  background-color: rgba(0, 255, 0, 0.1); /* Color verdoso para ingresos */
}

.egreso {
  background-color: rgba(255, 0, 0, 0.1); /* Color rojizo para egresos */
}

.fila{
  margin:50px;
  color: #E6E6E6
}

.expense-row .action-buttons {
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
  text-align: right;
}

.expense-row:hover .action-buttons {
  opacity: 1;
}

.action-buttons button {
  margin-left: 5px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.action-buttons button:hover {
  transform: scale(1.2);
  color: #ff4081; /* un rosa neón */
}
