<app-navbar></app-navbar>
<div class="dashboard-container">
    <h1 class="dashboard-title">Dashboard de Gastos Futurista</h1>
    
    <app-expense-summary
      [totalExpenses]="totalExpenses"
      [averageExpense]="averageExpense"
      [highestExpense]="highestExpense"
      [lowestExpense]="lowestExpense">
    </app-expense-summary>
  
    <h2 class="section-title">Últimas 10 transacciones</h2>
    
    <app-expense-table [expenses]="last10Expenses"></app-expense-table>

    <div *ngIf="modalGastos" class="modals">
      <app-agregar-gasto (closeModalEvent)="modalGastos = false" (addExpense)="agregarGasto($event)"></app-agregar-gasto>
    </div>
    
    <button class="fab" (click)="abrirModal()">+</button>

</div>